ACCOUNT_SID=AC
AUTH_TOKEN=

API_KEY=SK
API_SECRET=

SYNC_SERVICE_SID=IS

SENTIMENT_OPERATOR_ID=intelligence_operator_
SCRIPT_ADHERENCE_OPERATOR_ID=intelligence_operator_
SUMMARY_OPERATOR_ID=intelligence_operator_
CONVERSATION_SCORE_OPERATOR_ID=intelligence_operator_
